<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Your Name All Rights Reserved</p>
    </div>
</footer>

