<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Gallery
    - Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="./CSS/home.css">
  <link rel="stylesheet" href="./CSS/zoom.css">
  <link rel="icon" type="image/x-icon" href="/Images/logo.png">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous" defer></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>

<body class="d-flex text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Photo Gallery</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="/new">Upload</a>
          <!-- <% if(true) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <form action="/logout" method="POST">
                                <button class="nav-link btn btn-link">Logout</button>
                            </form>
                            <% } %> -->
        </nav>
      </div>
    </header>


    <section>
      <div class="container">

        <div class="full-img" id="fullImgBox">
          <img src="<%= data[0].image_url%>" alt="<%= data[0].image_name %>" id="fullImg">
          
            <img src="/Images/del.png" alt="" id="trash-icon">
          <span onclick="closeFullImg()">X</span>
          
        </div>


        <div class="row">
          <% for (let i = data.length-1; i >=0; i--) { %>
          <div class="col-md-4 col-12 p-2 d-flex justify-content-center">
            <img class="img"  src="<%= data[i].image_url %>" alt="<%= data[i].image_name %>" width="100%" onclick="openFullImg(this.src)">
          </div>
          <% } %>
        </div>



      </div>
    </section>

    <footer class="mt-auto text-white-50">
      <p>Copyright &copy; <script>
          document.write(new Date().getFullYear())
        </script> Pranjal Pratyush. All Rights Reserved</p>
    </footer>


  </div>

  <script>
     const fullImgBox = document.getElementById('fullImgBox')
     const fullImg = document.getElementById('fullImg')

     function openFullImg(pic) {
      fullImgBox.style.display = "flex";
      fullImg.src = pic;
     }

     function closeFullImg() {
      fullImgBox.style.display = "none";
     }

    

  </script>
  <script src=".js"></script>
</body>

</html>